html, body {
  padding: 0;
  margin: 0;
}
h2, h4 {
  margin: 0;
  padding: 0;
}
.container 
{
  width: 100%;
  height: 100vh;
  background-color: rgb(221, 221, 221);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .todo_container {
  padding: 20px;
  background-color: #fff;
  width: 100%;
  max-width: 600px;
  min-height: 200px;
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(0 , 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.todo_container .header {
  /* background-color: #333; */
  border-bottom: 1px solid #333;
}
.todo_container .add_todo_container {
  height: 150px;
  display: flex;
  flex-direction: column;
}
.todo_items {
  flex: 1;
}
.todo_container .add_todo_container .todo_form {
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 5px;
}
input, textarea {
    border: none;
    outline: none;
}
input {
  border: 1px solid #ccc;
  height: 30px;
}
textarea {
  flex: 1;
}
i {
  padding: 20px 10px;
}
.task_item {
  padding: 20px;
  cursor: pointer;
}
.task_item .title {
  font-weight: bold;
}
.task_item .description {
  font-weight: 300px;
  margin-top: 5px;
}
.task_item:nth-child(odd){
  background-color: rgb(223, 254, 247);
} 